<div class="container">
    <div class="section row">
        <div class="col-md-6">
            <h3 class="headline headline--beta">Got a talk idea? We want to see it!</h3>
            <p>
                We’re interested in hearing from those who have used WordPress in interesting,
                innovative, and significant ways. Whether the open source software was used to deliver
                something technically amazing or whether WordPress was the foundation for creating
                something meaningful in the community, we want to know about it.
            </p>
        </div>
        <div class="col-md-6">
            <h3 class="headline headline--beta">We welcome "outside" perspectives, too!</h3>
            <p>
                We also want to hear voices from outside the WordPress community. If you work on other
                Open Source projects or web design and development in general and think the WordPress
                community could benefit from your story we want it told at WCUS. Accessibility, User
                Experience, web content strategy, design, diversity, business, community — we want
                to offer a wide-range of talks that all folks from all walks of life can learn from.
            </p>
        </div>
    </div>
</div>

<section class="section section--primary">
    <div class="container">
        <h2 class="headline headline--beta headline--centered">Diversity Matters!</h2>
        <p>
            {{ site.title }} is committed to creating a conference that is as inclusive as possible.
            We want to showcase talent available around the U.S. and welcome international submissions as well.
        </p>
        <p>
            We are also committed to ensuring the conference is a place
            where ideas are exchanged, old friends get together, new friends meet and <strong>harassment
            is not tolerated</strong>. We expect speakers, attendees and sponsor representatives to be
            professional and courteous to each other. We reserve the right to remove, without refund,
            ANY attendee (speaker or otherwise) who is unable to adhere to this policy.
        </p>
    </div>
</section>
